.relative{
  position: relative;
}

#app .bordered{
  border: solid .05rem rgba($color: #000000, $alpha: .08);
  border-color: rgba($color: #000000, $alpha: .08) !important;
}

.cursor-pointer{
  cursor: pointer;
}

.description{
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.v-divider{
  text-align: center;
}
.v-divider::after{
  background-color: white;
  color: rgba(0,0,0,.32);
  display: inline-block;
  content: attr(data-content);
  font-size: .8rem;
  padding: .2rem .4rem;
  transform: translateY(-1rem);
}