.relative{
  position: relative;
}

#app .bordered{
  border: solid .05rem rgba($color: #000000, $alpha: .08);
  border-color: rgba($color: #000000, $alpha: .08) !important;
}

.cursor-pointer{
  cursor: pointer;
}

.description{
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}